.main-container{
    max-width: 1440px;
    margin: auto;
}
.read-more-btn{
    background-color: transparent;
    border: 2px solid white;
}
.read-more-btn:hover{
    background-color: white;
    color: black;
}
.press-1{
    height: 476px;
    max-width: 413px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../../resources/images/press-1.png);
}
.press-2{
    height: 476px;
    max-width: 413px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../../resources/images/press-2.png);
}
.press-3{
    height: 476px;
    max-width: 413px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../../resources/images/press-3.png);
}
.press-text{
    line-height: 50px;
}
