.main-container{
    max-width: 1440px;
    margin: auto;
}
.main-background{
    background-color: #ECF7FF;
}
.commerce-image{
    max-width: 472px;
}
.details{
    max-width: 800px;
    
}
.join-btn{
    background-color: #0473EA;
    border: 2px solid #0473EA;
}
.join-btn:hover{
    background-color: white;
    color: #0473EA;
    border: 2px solid #0473EA;
}