.main-container{
    max-width: 1440px;
    margin: auto;
}
.main-bg{
    background-image: linear-gradient(90deg, #233285 0%, #0951C9 100%);
}
.commerce-image{
    max-width: 472px;
}
.details{
    max-width: 800px;
    
}
.join-btn-border{
    background-color: transparent;
    border: 2px solid white;
}
.join-btn-border:hover{
    background-color: white;
    color: #0473EA;
    border: 2px solid white;
}